Package: im.hearse.colorizd
Name: colorizd
Version: 0.0.1
Architecture: iphoneos-arm
Description: Colorize your icon labels!
Maintainer: hearse
Author: hearse
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader, ws.hbang.common (>= 1.15.1)
